<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<string>wxid_9nvh14giph8y12</string>
		<string>v739758346</string>
		<string>wxid_lwwo22tg6l6211</string>
		<string>xrqaifr</string>
		<string>wxid_nsyokexux8or22</string>
		<string>q5624028</string>
		<string>xecarwn492385297</string>
		<string>wxid_8z1stcfrqjzd22</string>
		<string>killyones</string>
		<string>wxid_do2bcdabdhft22</string>
		<string>wxid_2bv3xhjeeqh821</string>
		<string>xiaobaiaixiaoxin</string>
		<string>DweChen</string>
		<string>yaoxinyu888</string>
		<string>wxid_3ihhdky025do31</string>
		<string>wxid_4097440974812</string>
		<string>w5635798</string>
		<string>Wei-qq7621</string>
		<string>wxid_hyxowkfm8nnr21</string>
		<string>wxid_4712157125812</string>
		<string>WANG1224678213</string>
		<string>zhaoanst</string>
		<string>tony19821218</string>
	</array>
</dict>
</plist>
